.App {
  display: flex;
}

.wrapper-notes { 
  margin: 20px auto;
  width: 1170px;
}

.wrapper-notes .title {
  display: flex;
  align-items: center;
}

.wrapper-notes .title span {
  font-size: 40px;
}

.wrapper-notes .title button {
  margin-left: 10px;
  background-color: transparent;
  border: 2px solid #005a0f;
  padding: 5px 7px 3px 7px;
  border-radius: 20px;
}

.wrapper-notes .title button svg polyline,
.wrapper-notes .title button svg path {
  color: #005a0f;
}

.notes-list {
  display: flex;
  margin: 20px auto;
  flex-wrap: wrap;
}

.notes-list .note {
  border: 1px solid #333;
  padding: 20px;
  font-size: 12px;
  width: 30%;
  margin-top: 30px;
  position: relative;
}

.notes-list .note:nth-child(2n+2) {
  margin-left: 30px;
}

.notes-list .note button {
  position: absolute;
  top: -19px;
  right: -19px;
  background: #fff;
  border: 1px solid #cc0000;
  border-radius: 30px;
  padding: 5px 7px 5px 7px;
}

.form-group {
  display: flex;
  position: relative;
  width: 50%;
  flex-wrap: wrap;
}

.form-group textarea {
  width: 100%;
  height: 100px;
}

.form-group .new-note-text {
  font-size: 30px;
  margin-bottom: 20px;
}

.form-group button {
  position: absolute;
  right: 0;
  bottom: 0;
}